@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --color-primaryGreen: #a8c3b3;
  --color-primaryPurple: #aa58b1;
  --color-primaryBeige: #fbf7f1;
  --color-primaryGray: #868686;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  width: 100%;
  max-width: 1350px;
  margin-inline: auto;
  padding-inline: 20px;
}

button {
  cursor: pointer;
}